In [2]:
#Libraries
import requests
import selenium
import pandas as pd
import scipy.stats as st

DATA COLLECTION

1. Most profitable movies of all time that are original screenplay

In [3]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options

# Set up Chrome driver options
chrome_options = Options()
chrome_options.add_argument("--headless")  # Run Chrome in headless mode

# Set path to chromedriver executable
webdriver_path = 'path/to/chromedriver'

# Start the Selenium Chrome driver
driver = webdriver.Chrome(service=Service(executable_path=webdriver_path), options=chrome_options)

# Website URL
url = 'https://www.the-numbers.com/box-office-records/worldwide/all-movies/sources/original-screenplay'

# Open the webpage
driver.get(url)

# Find the table element using XPath
table = driver.find_element(By.XPATH, '//*[@id="page_filling_chart"]/center/table')

# Extract the rows from the table
rows = table.find_elements(By.TAG_NAME, 'tr')

# Retrieve the top 30 entries (excluding the header row)
top_30_entries = rows[1:31]

# Initialize an empty list to store the extracted data
data = []

# Iterate over the rows and print the data
for row in top_30_entries:
    # Extract the columns for each row
    columns = row.find_elements(By.TAG_NAME, 'td')

    # Get the values from the columns
    Rank = columns[0].text.strip()
    Year = columns[1].text.strip()
    Title = columns[2].text.strip()
    Gross = columns[3].text.strip()
    
    # Append the data to the list
    data.append([Rank, Year, Title,Gross])

# Create a pandas DataFrame from the extracted data
Movies_original = pd.DataFrame(data, columns=['Rank', 'Year', 'Title', 'Gross'])

# Quit the browser
driver.quit()

In [4]:
Movies_original
#list of the most profitable movies of all time that are original screenplay

   Rank  Year                                   Title           Gross
0     1  2009                                  Avatar  $2,923,706,026
1     2  2022                Avatar: The Way of Water  $2,320,003,887
2     3  1997                                 Titanic  $2,222,985,568
3     4  2015    Star Wars Ep. VII: The Force Awakens  $2,064,615,817
4     5  2015                               Furious 7  $1,511,986,364
5     6  2022                       Top Gun: Maverick  $1,478,933,621
6     7  2017       Star Wars Ep. VIII: The Last Jedi  $1,331,635,141
7     8  2018                           Incredibles 2  $1,242,805,359
8     9  2017                 The Fate of the Furious  $1,235,534,014
9    10  2019                             Toy Story 4  $1,073,064,540
10   11  2019        Star Wars: The Rise of Skywalker  $1,072,767,997
11   12  2010                             Toy Story 3  $1,068,879,522
12   13  2017                         Despicable Me 3  $1,032,809,657
13   14  1999     Star Wars Ep. I: The Phantom Menace  $1,027,044,677
14   15  2016                            Finding Dory  $1,025,006,125
15   16  2022                Jurassic World: Dominion  $1,003,700,604
16   17  2016                                Zootopia  $1,002,462,578
17   18  1994                           The Lion King    $986,193,783
18   19  2013                         Despicable Me 2    $975,216,835
19   20  2017          Jumanji: Welcome to the Jungle    $961,632,807
20   21  2003                            Finding Nemo    $936,094,852
21   22  2009          Ice Age: Dawn of the Dinosaurs    $886,686,817
22   23  2016                 The Secret Life of Pets    $885,302,500
23   24  2012              Ice Age: Continental Drift    $879,765,137
24   25  2015                              Inside Out    $850,566,343
25   26  2005  Star Wars Ep. III: Revenge of the Sith    $848,998,877
26   27  2021                    Ni Hao, Li Huan Ying    $841,674,419
27   28  2017                             Zhan Lang 2    $835,474,171
28   29  1996                        Independence Day    $817,400,878
29   30  2019                 Jumanji: The Next Level    $798,210,215

2. Most profitable movies of all time that are based on books

In [5]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options

# Set up Selenium Chrome driver options
chrome_options = Options()
chrome_options.add_argument("--headless")  # Run in headless mode, no browser window

# Specify the path to the Chrome driver executable
webdriver_service = Service('/path/to/chromedriver')

# Create a Selenium WebDriver instance
driver = webdriver.Chrome(service=webdriver_service, options=chrome_options)

url = 'https://www.the-numbers.com/box-office-records/worldwide/all-movies/sources/based-on-fictional-book-or-short-story'

# Open the webpage
driver.get(url)

# Find the table element using XPath
table = driver.find_element(By.XPATH, '//*[@id="page_filling_chart"]/center/table')

# Extract the rows from the table
rows = table.find_elements(By.TAG_NAME, 'tr')

# Retrieve the top 30 entries (excluding the header row)
top_30_entries = rows[1:31]

# Initialize an empty list to store the extracted data
data = []

# Iterate over the rows and print the data
for row in top_30_entries:
    # Extract the columns for each row
    columns = row.find_elements(By.TAG_NAME, 'td')

    # Get the values from the columns
    Rank = columns[0].text.strip()
    Year = columns[1].text.strip()
    Title = columns[2].text.strip()
    Gross = columns[3].text.strip()
    
    # Append the data to the list
    data.append([Rank, Year, Title,Gross])

# Create a pandas DataFrame from the extracted data
Movies_books = pd.DataFrame(data, columns=['Rank', 'Year', 'Title', 'Gross'])

# Quit the browser
driver.quit()

In [6]:
Movies_books
#list of the most profitable movies of all time based on books

,Rank,Year,Title,Gross
0,1,2015,Jurassic World,"$1,669,963,641"
1,2,2011,Harry Potter and the Deathly Hallows: Part II,"$1,315,363,647"
2,3,2018,Jurassic World: Fallen Kingdom,"$1,308,323,302"
3,4,2003,The Lord of the Rings: The Return of the King,"$1,121,386,981"
4,5,2012,Skyfall,"$1,110,526,981"
5,6,1993,Jurassic Park,"$1,045,573,035"
6,7,2010,Alice in Wonderland,"$1,025,491,110"
7,8,2012,The Hobbit: An Unexpected Journey,"$1,014,938,545"
8,9,2001,Harry Potter and the Sorcerer’s Stone,"$965,043,494"
9,10,2013,The Hobbit: The Desolation of Smaug,"$959,358,436"
10,11,2016,The Jungle Book,"$953,535,821"
11,12,2010,Harry Potter and the Deathly Hallows: Part I,"$951,032,438"
12,13,2014,The Hobbit: The Battle of the Five Armies,"$940,323,039"
13,14,2007,Harry Potter and the Order of the Phoenix,"$939,619,849"
14,15,2004,Shrek 2,"$935,253,978"
15,16,2009,Harry Potter and the Half-Blood Prince,"$929,411,069"
16,17,2002,The Lord of the Rings: The Two Towers,"$919,148,764"
17,18,2001,The Lord of the Rings: The Fellowship of the Ring,"$891,216,824"
18,19,2005,Harry Potter and the Goblet of Fire,"$886,742,787"
19,20,2015,Spectre,"$879,077,344"
20,21,2002,Harry Potter and the Chamber of Secrets,"$874,954,530"
21,22,2013,The Hunger Games: Catching Fire,"$864,868,047"
22,23,2012,"The Twilight Saga: Breaking Dawn, Part 2","$829,724,737"
23,24,2007,Shrek the Third,"$807,330,936"
24,25,2004,Harry Potter and the Prisoner of Azkaban,"$789,592,708"
25,26,2006,The Da Vinci Code,"$767,820,459"
26,27,2014,The Hunger Games: Mockingjay - Part 1,"$766,575,131"
27,28,2021,No Time to Die,"$759,959,662"
28,29,2010,Shrek Forever After,"$756,244,673"
29,30,2005,"The Chronicles of Narnia: The Lion, the Witch a…","$720,539,572"

3. Get movie info from IMDB for the list of the most profitable movies that are are original screenplay

In [7]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options


# Configure Chrome webdriver options
options = Options()
options.add_experimental_option('prefs', {'intl.accept_languages': 'en,en_US'})

# Initialize Chrome webdriver with the options
driver = webdriver.Chrome(options=options)  

# Create an empty list for storing movie information
movie_list = []

# Iterate over the movies in movies_df
for title in Movies_original['Title']:
    # Format the movie title for the IMDb search
    search_query = title.replace(' ', '+')

    # Construct the IMDb search URL
    search_url = f'https://www.imdb.com/search/title/?title={search_query}'

    # Navigate to the search URL
    driver.get(search_url)

    # Wait for the search results to load
    # Add necessary wait time here if needed

    # Get the page source after it has loaded
    page_source = driver.page_source

    # Create BeautifulSoup object
    soup = BeautifulSoup(page_source, 'html.parser')

    # Find the first search result item
    first_result = soup.find('div', class_='lister-item-content')

    # Extract the rating and user reviews if the result exists
    if first_result:
        rating_element = first_result.find('strong')
        rating = rating_element.text if rating_element else None
        votes_element = first_result.find('span', attrs={'name': 'nv'})
        votes = votes_element.text if votes_element else None

        movie_info = {
            'Title': title,
            'Rating': rating,
            'Votes': votes
        }

        movie_list.append(movie_info)
    else:
        # Handle case when the movie is not found in the search results
        print(f'Movie "{title}" not found on IMDb.')

# Close the Chrome webdriver
driver.quit()

# Create a DataFrame from the movie list
imdb_data = pd.DataFrame(movie_list)

# Display the IMDb data
print(imdb_data)

Movie "Star Wars Ep. VII: The Force Awakens" not found on IMDb.
Movie "Star Wars Ep. I: The Phantom Menace" not found on IMDb.
Movie "Star Wars Ep. III: Revenge of the Sith" not found on IMDb.
Movie "Ni Hao, Li Huan Ying" not found on IMDb.
Movie "Zhan Lang 2" not found on IMDb.
                                Title Rating      Votes
0                              Avatar    7.6    420,838
1            Avatar: The Way of Water    7.6    420,838
2                             Titanic    7.9  1,225,546
3                           Furious 7    7.1    402,996
4                   Top Gun: Maverick    8.3    601,692
5   Star Wars Ep. VIII: The Last Jedi   None       None
6                       Incredibles 2    7.6    311,941
7             The Fate of the Furious    6.6    243,711
8                         Toy Story 4    7.7    263,911
9    Star Wars: The Rise of Skywalker    6.5    469,755
10                        Toy Story 3    8.3    858,677
11                    Despicable Me 3    6.2    143,740
12                       Finding Dory    7.3    288,393
13           Jurassic World: Dominion    5.6    185,962
14                           Zootopia    8.0    519,042
15                      The Lion King    8.5  1,090,473
16                    Despicable Me 2    7.3    411,752
17     Jumanji: Welcome to the Jungle    6.9    398,987
18                       Finding Nemo    8.2  1,070,678
19     Ice Age: Dawn of the Dinosaurs    6.9    254,305
20            The Secret Life of Pets    6.5    209,359
21         Ice Age: Continental Drift    6.5    216,719
22                         Inside Out    8.1    740,816
23                   Independence Day    7.0    588,060
24            Jumanji: The Next Level    6.7    265,365

4. Dataframe of the most profitable movies that are based on original screenplay (Merge and data Cleaning)

In [8]:
# Merge the info from movies_df (list of the most profitable movies that are are original screenplay) with imdb_data (info from IMDB)


# Perform the merge based on the 'Title' column
profitable_movies = Movies_original.merge(imdb_data[['Title', 'Rating', 'Votes']],
                            on='Title', how='left')

# Display the merged dataframe
display(profitable_movies)

,Rank,Year,Title,Gross,Rating,Votes
0,1,2009,Avatar,"$2,923,706,026",7.6,"420,838"
1,2,2022,Avatar: The Way of Water,"$2,320,003,887",7.6,"420,838"
2,3,1997,Titanic,"$2,222,985,568",7.9,"1,225,546"
3,4,2015,Star Wars Ep. VII: The Force Awakens,"$2,064,615,817",NaN,NaN
4,5,2015,Furious 7,"$1,511,986,364",7.1,"402,996"
5,6,2022,Top Gun: Maverick,"$1,478,933,621",8.3,"601,692"
6,7,2017,Star Wars Ep. VIII: The Last Jedi,"$1,331,635,141",None,None
7,8,2018,Incredibles 2,"$1,242,805,359",7.6,"311,941"
8,9,2017,The Fate of the Furious,"$1,235,534,014",6.6,"243,711"
9,10,2019,Toy Story 4,"$1,073,064,540",7.7,"263,911"
10,11,2019,Star Wars: The Rise of Skywalker,"$1,072,767,997",6.5,"469,755"
11,12,2010,Toy Story 3,"$1,068,879,522",8.3,"858,677"
12,13,2017,Despicable Me 3,"$1,032,809,657",6.2,"143,740"
13,14,1999,Star Wars Ep. I: The Phantom Menace,"$1,027,044,677",NaN,NaN
14,15,2016,Finding Dory,"$1,025,006,125",7.3,"288,393"
15,16,2022,Jurassic World: Dominion,"$1,003,700,604",5.6,"185,962"
16,17,2016,Zootopia,"$1,002,462,578",8.0,"519,042"
17,18,1994,The Lion King,"$986,193,783",8.5,"1,090,473"
18,19,2013,Despicable Me 2,"$975,216,835",7.3,"411,752"
19,20,2017,Jumanji: Welcome to the Jungle,"$961,632,807",6.9,"398,987"
20,21,2003,Finding Nemo,"$936,094,852",8.2,"1,070,678"
21,22,2009,Ice Age: Dawn of the Dinosaurs,"$886,686,817",6.9,"254,305"
22,23,2016,The Secret Life of Pets,"$885,302,500",6.5,"209,359"
23,24,2012,Ice Age: Continental Drift,"$879,765,137",6.5,"216,719"
24,25,2015,Inside Out,"$850,566,343",8.1,"740,816"
25,26,2005,Star Wars Ep. III: Revenge of the Sith,"$848,998,877",NaN,NaN
26,27,2021,"Ni Hao, Li Huan Ying","$841,674,419",NaN,NaN
27,28,2017,Zhan Lang 2,"$835,474,171",NaN,NaN
28,29,1996,Independence Day,"$817,400,878",7.0,"588,060"
29,30,2019,Jumanji: The Next Level,"$798,210,215",6.7,"265,365"

In [9]:
# Update the values for "Aquaman" based on the given information from the site because selenium did not read this info
profitable_movies.loc[profitable_movies['Title'] == 'Star Wars Ep. VII: The Force Awakens', 'Rating'] = 7.8
profitable_movies.loc[profitable_movies['Title'] == 'Star Wars Ep. VII: The Force Awakens', 'Votes'] = '949,471'
profitable_movies.loc[profitable_movies['Title'] == 'Star Wars Ep. VIII: The Last Jedi', 'Rating'] = 6.8
profitable_movies.loc[profitable_movies['Title'] == 'Star Wars Ep. VIII: The Last Jedi', 'Votes'] = '649,750'
profitable_movies.loc[profitable_movies['Title'] == 'Star Wars Ep. I: The Phantom Menace', 'Rating'] = 6.5
profitable_movies.loc[profitable_movies['Title'] == 'Star Wars Ep. I: The Phantom Menace', 'Votes'] = '827,337'
profitable_movies.loc[profitable_movies['Title'] == 'Star Wars Ep. III: Revenge of the Sith', 'Rating'] = 7.6
profitable_movies.loc[profitable_movies['Title'] == 'Star Wars Ep. III: Revenge of the Sith', 'Votes'] = '814,615'
profitable_movies.loc[profitable_movies['Title'] == 'Ni Hao, Li Huan Ying', 'Rating'] = 7.0
profitable_movies.loc[profitable_movies['Title'] == 'Ni Hao, Li Huan Ying', 'Votes'] = '2,510'
profitable_movies.loc[profitable_movies['Title'] == 'Zhan Lang 2', 'Rating'] = 5.9
profitable_movies.loc[profitable_movies['Title'] == 'Zhan Lang 2', 'Votes'] = '8,563'

# display the updated DataFrame
display(profitable_movies)

,Rank,Year,Title,Gross,Rating,Votes
0,1,2009,Avatar,"$2,923,706,026",7.6,"420,838"
1,2,2022,Avatar: The Way of Water,"$2,320,003,887",7.6,"420,838"
2,3,1997,Titanic,"$2,222,985,568",7.9,"1,225,546"
3,4,2015,Star Wars Ep. VII: The Force Awakens,"$2,064,615,817",7.8,"949,471"
4,5,2015,Furious 7,"$1,511,986,364",7.1,"402,996"
5,6,2022,Top Gun: Maverick,"$1,478,933,621",8.3,"601,692"
6,7,2017,Star Wars Ep. VIII: The Last Jedi,"$1,331,635,141",6.8,"649,750"
7,8,2018,Incredibles 2,"$1,242,805,359",7.6,"311,941"
8,9,2017,The Fate of the Furious,"$1,235,534,014",6.6,"243,711"
9,10,2019,Toy Story 4,"$1,073,064,540",7.7,"263,911"
10,11,2019,Star Wars: The Rise of Skywalker,"$1,072,767,997",6.5,"469,755"
11,12,2010,Toy Story 3,"$1,068,879,522",8.3,"858,677"
12,13,2017,Despicable Me 3,"$1,032,809,657",6.2,"143,740"
13,14,1999,Star Wars Ep. I: The Phantom Menace,"$1,027,044,677",6.5,"827,337"
14,15,2016,Finding Dory,"$1,025,006,125",7.3,"288,393"
15,16,2022,Jurassic World: Dominion,"$1,003,700,604",5.6,"185,962"
16,17,2016,Zootopia,"$1,002,462,578",8.0,"519,042"
17,18,1994,The Lion King,"$986,193,783",8.5,"1,090,473"
18,19,2013,Despicable Me 2,"$975,216,835",7.3,"411,752"
19,20,2017,Jumanji: Welcome to the Jungle,"$961,632,807",6.9,"398,987"
20,21,2003,Finding Nemo,"$936,094,852",8.2,"1,070,678"
21,22,2009,Ice Age: Dawn of the Dinosaurs,"$886,686,817",6.9,"254,305"
22,23,2016,The Secret Life of Pets,"$885,302,500",6.5,"209,359"
23,24,2012,Ice Age: Continental Drift,"$879,765,137",6.5,"216,719"
24,25,2015,Inside Out,"$850,566,343",8.1,"740,816"
25,26,2005,Star Wars Ep. III: Revenge of the Sith,"$848,998,877",7.6,"814,615"
26,27,2021,"Ni Hao, Li Huan Ying","$841,674,419",7.0,"2,510"
27,28,2017,Zhan Lang 2,"$835,474,171",5.9,"8,563"
28,29,1996,Independence Day,"$817,400,878",7.0,"588,060"
29,30,2019,Jumanji: The Next Level,"$798,210,215",6.7,"265,365"

5. Get movie info from IMDB for the list of the most profitable movies that are based on books

In [10]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options


# Configure Chrome webdriver options
options = Options()
options.add_experimental_option('prefs', {'intl.accept_languages': 'en,en_US'})

# Initialize Chrome webdriver with the options
driver = webdriver.Chrome(options=options)  # You may need to specify the path to the Chrome driver executable

# Create an empty list for storing movie information
movie_list_books = []

# Iterate over the movies in movies_df
for title in Movies_books['Title']:
    # Format the movie title for the IMDb search
    search_query = title.replace(' ', '+')

    # Construct the IMDb search URL
    search_url = f'https://www.imdb.com/search/title/?title={search_query}'

    # Navigate to the search URL
    driver.get(search_url)

    # Wait for the search results to load
    # Add necessary wait time here if needed

    # Get the page source after it has loaded
    page_source = driver.page_source

    # Create BeautifulSoup object
    soup = BeautifulSoup(page_source, 'html.parser')

    # Find the first search result item
    first_result = soup.find('div', class_='lister-item-content')

    # Extract the rating and user reviews if the result exists
    if first_result:
        rating_element = first_result.find('strong')
        rating = rating_element.text if rating_element else None
        votes_element = first_result.find('span', attrs={'name': 'nv'})
        votes = votes_element.text if votes_element else None

        movie_info_books = {
            'Title': title,
            'Rating': rating,
            'Votes': votes
        }

        movie_list_books.append(movie_info_books)
    else:
        # Handle case when the movie is not found in the search results
        print(f'Movie "{title}" not found on IMDb.')

# Close the Chrome webdriver
driver.quit()

# Create a DataFrame from the movie list
imdb_data_book = pd.DataFrame(movie_list_books)

# Display the IMDb data
display(imdb_data_book)

                                                Title Rating      Votes
0                                      Jurassic World    5.6    185,962
1       Harry Potter and the Deathly Hallows: Part II    6.9        937
2                      Jurassic World: Fallen Kingdom    6.1    328,773
3       The Lord of the Rings: The Return of the King    9.0  1,894,138
4                                             Skyfall    7.8    711,428
5                                       Jurassic Park    8.2  1,019,213
6                                 Alice in Wonderland    6.4    426,705
7                   The Hobbit: An Unexpected Journey    7.8    845,952
8               Harry Potter and the Sorcerer’s Stone    7.6    813,260
9                 The Hobbit: The Desolation of Smaug    7.8    680,824
10                                    The Jungle Book    7.4    284,473
11       Harry Potter and the Deathly Hallows: Part I    5.8        733
12          The Hobbit: The Battle of the Five Armies    7.4    549,416
13          Harry Potter and the Order of the Phoenix    7.5    603,642
14                                            Shrek 2    7.3    483,289
15             Harry Potter and the Half-Blood Prince    7.6    566,619
16              The Lord of the Rings: The Two Towers    8.8  1,709,407
17  The Lord of the Rings: The Fellowship of the Ring    8.8  1,922,593
18                Harry Potter and the Goblet of Fire    7.7    649,566
19                                            Spectre    6.8    452,089
20            Harry Potter and the Chamber of Secrets    7.4    659,334
21                    The Hunger Games: Catching Fire    7.5    685,864
22           The Twilight Saga: Breaking Dawn, Part 2    5.5    255,235
23                                    Shrek the Third    6.1    319,852
24           Harry Potter and the Prisoner of Azkaban    7.9    658,343
25                                  The Da Vinci Code    6.6    445,100
26              The Hunger Games: Mockingjay - Part 1    6.6    473,591
27                                     No Time to Die    7.3    421,658
28                                Shrek Forever After    6.3    215,625
29   The Chronicles of Narnia: The Lion, the Witch a…   None       None

6. Dataframe of the most profitable movies that are based on books (Merge and data Cleaning)

In [11]:
# Merge the info from movies_df (list of the most profitable movies of all time) with imdb_data (info from IMDB)


# Perform the merge based on the 'Title' column
profitable_movies_books = Movies_books.merge(imdb_data_book[['Title', 'Rating', 'Votes']],
                            on='Title', how='left')

# Display the merged dataframe
display(profitable_movies_books)

,Rank,Year,Title,Gross,Rating,Votes
0,1,2015,Jurassic World,"$1,669,963,641",5.6,"185,962"
1,2,2011,Harry Potter and the Deathly Hallows: Part II,"$1,315,363,647",6.9,937
2,3,2018,Jurassic World: Fallen Kingdom,"$1,308,323,302",6.1,"328,773"
3,4,2003,The Lord of the Rings: The Return of the King,"$1,121,386,981",9.0,"1,894,138"
4,5,2012,Skyfall,"$1,110,526,981",7.8,"711,428"
5,6,1993,Jurassic Park,"$1,045,573,035",8.2,"1,019,213"
6,7,2010,Alice in Wonderland,"$1,025,491,110",6.4,"426,705"
7,8,2012,The Hobbit: An Unexpected Journey,"$1,014,938,545",7.8,"845,952"
8,9,2001,Harry Potter and the Sorcerer’s Stone,"$965,043,494",7.6,"813,260"
9,10,2013,The Hobbit: The Desolation of Smaug,"$959,358,436",7.8,"680,824"
10,11,2016,The Jungle Book,"$953,535,821",7.4,"284,473"
11,12,2010,Harry Potter and the Deathly Hallows: Part I,"$951,032,438",5.8,733
12,13,2014,The Hobbit: The Battle of the Five Armies,"$940,323,039",7.4,"549,416"
13,14,2007,Harry Potter and the Order of the Phoenix,"$939,619,849",7.5,"603,642"
14,15,2004,Shrek 2,"$935,253,978",7.3,"483,289"
15,16,2009,Harry Potter and the Half-Blood Prince,"$929,411,069",7.6,"566,619"
16,17,2002,The Lord of the Rings: The Two Towers,"$919,148,764",8.8,"1,709,407"
17,18,2001,The Lord of the Rings: The Fellowship of the Ring,"$891,216,824",8.8,"1,922,593"
18,19,2005,Harry Potter and the Goblet of Fire,"$886,742,787",7.7,"649,566"
19,20,2015,Spectre,"$879,077,344",6.8,"452,089"
20,21,2002,Harry Potter and the Chamber of Secrets,"$874,954,530",7.4,"659,334"
21,22,2013,The Hunger Games: Catching Fire,"$864,868,047",7.5,"685,864"
22,23,2012,"The Twilight Saga: Breaking Dawn, Part 2","$829,724,737",5.5,"255,235"
23,24,2007,Shrek the Third,"$807,330,936",6.1,"319,852"
24,25,2004,Harry Potter and the Prisoner of Azkaban,"$789,592,708",7.9,"658,343"
25,26,2006,The Da Vinci Code,"$767,820,459",6.6,"445,100"
26,27,2014,The Hunger Games: Mockingjay - Part 1,"$766,575,131",6.6,"473,591"
27,28,2021,No Time to Die,"$759,959,662",7.3,"421,658"
28,29,2010,Shrek Forever After,"$756,244,673",6.3,"215,625"
29,30,2005,"The Chronicles of Narnia: The Lion, the Witch a…","$720,539,572",None,None

In [12]:
# Update the values for "The Chronicles of Narnia: The Lion, the Witch and the Wardrobe" based on the given information from the site because selenium did not read this info
profitable_movies_books.at[29, 'Rating'] = 6.9
profitable_movies_books.at[29, 'Votes'] = '411,445'

# display the updated DataFrame
display(profitable_movies_books)

,Rank,Year,Title,Gross,Rating,Votes
0,1,2015,Jurassic World,"$1,669,963,641",5.6,"185,962"
1,2,2011,Harry Potter and the Deathly Hallows: Part II,"$1,315,363,647",6.9,937
2,3,2018,Jurassic World: Fallen Kingdom,"$1,308,323,302",6.1,"328,773"
3,4,2003,The Lord of the Rings: The Return of the King,"$1,121,386,981",9.0,"1,894,138"
4,5,2012,Skyfall,"$1,110,526,981",7.8,"711,428"
5,6,1993,Jurassic Park,"$1,045,573,035",8.2,"1,019,213"
6,7,2010,Alice in Wonderland,"$1,025,491,110",6.4,"426,705"
7,8,2012,The Hobbit: An Unexpected Journey,"$1,014,938,545",7.8,"845,952"
8,9,2001,Harry Potter and the Sorcerer’s Stone,"$965,043,494",7.6,"813,260"
9,10,2013,The Hobbit: The Desolation of Smaug,"$959,358,436",7.8,"680,824"
10,11,2016,The Jungle Book,"$953,535,821",7.4,"284,473"
11,12,2010,Harry Potter and the Deathly Hallows: Part I,"$951,032,438",5.8,733
12,13,2014,The Hobbit: The Battle of the Five Armies,"$940,323,039",7.4,"549,416"
13,14,2007,Harry Potter and the Order of the Phoenix,"$939,619,849",7.5,"603,642"
14,15,2004,Shrek 2,"$935,253,978",7.3,"483,289"
15,16,2009,Harry Potter and the Half-Blood Prince,"$929,411,069",7.6,"566,619"
16,17,2002,The Lord of the Rings: The Two Towers,"$919,148,764",8.8,"1,709,407"
17,18,2001,The Lord of the Rings: The Fellowship of the Ring,"$891,216,824",8.8,"1,922,593"
18,19,2005,Harry Potter and the Goblet of Fire,"$886,742,787",7.7,"649,566"
19,20,2015,Spectre,"$879,077,344",6.8,"452,089"
20,21,2002,Harry Potter and the Chamber of Secrets,"$874,954,530",7.4,"659,334"
21,22,2013,The Hunger Games: Catching Fire,"$864,868,047",7.5,"685,864"
22,23,2012,"The Twilight Saga: Breaking Dawn, Part 2","$829,724,737",5.5,"255,235"
23,24,2007,Shrek the Third,"$807,330,936",6.1,"319,852"
24,25,2004,Harry Potter and the Prisoner of Azkaban,"$789,592,708",7.9,"658,343"
25,26,2006,The Da Vinci Code,"$767,820,459",6.6,"445,100"
26,27,2014,The Hunger Games: Mockingjay - Part 1,"$766,575,131",6.6,"473,591"
27,28,2021,No Time to Die,"$759,959,662",7.3,"421,658"
28,29,2010,Shrek Forever After,"$756,244,673",6.3,"215,625"
29,30,2005,"The Chronicles of Narnia: The Lion, the Witch a…","$720,539,572",6.9,"411,445"

In [13]:
# Cleaning 'Gross' column
profitable_movies['Gross'] = profitable_movies['Gross'].str.replace(r'[^0-9]', '').astype('int64')

#r'[^0-9]' is a regular expression pattern that matches any non-numeric character.the str.replace() 
# function to replaces  all non-numeric characters with an empty string ''. Then, we use astype(int) to convert the column to integer data type.

C:\Users\jardi\AppData\Local\Temp\ipykernel_16584\4149622661.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  profitable_movies['Gross'] = profitable_movies['Gross'].str.replace(r'[^0-9]', '').astype('int64')

In [14]:
# Cleaning 'votes' column
profitable_movies['Votes'] = profitable_movies['Votes'].str.replace(r'[^0-9]', '').astype('int64')

C:\Users\jardi\AppData\Local\Temp\ipykernel_16584\754886189.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  profitable_movies['Votes'] = profitable_movies['Votes'].str.replace(r'[^0-9]', '').astype('int64')

In [15]:
profitable_movies

,Rank,Year,Title,Gross,Rating,Votes
0,1,2009,Avatar,2923706026,7.6,420838
1,2,2022,Avatar: The Way of Water,2320003887,7.6,420838
2,3,1997,Titanic,2222985568,7.9,1225546
3,4,2015,Star Wars Ep. VII: The Force Awakens,2064615817,7.8,949471
4,5,2015,Furious 7,1511986364,7.1,402996
5,6,2022,Top Gun: Maverick,1478933621,8.3,601692
6,7,2017,Star Wars Ep. VIII: The Last Jedi,1331635141,6.8,649750
7,8,2018,Incredibles 2,1242805359,7.6,311941
8,9,2017,The Fate of the Furious,1235534014,6.6,243711
9,10,2019,Toy Story 4,1073064540,7.7,263911
10,11,2019,Star Wars: The Rise of Skywalker,1072767997,6.5,469755
11,12,2010,Toy Story 3,1068879522,8.3,858677
12,13,2017,Despicable Me 3,1032809657,6.2,143740
13,14,1999,Star Wars Ep. I: The Phantom Menace,1027044677,6.5,827337
14,15,2016,Finding Dory,1025006125,7.3,288393
15,16,2022,Jurassic World: Dominion,1003700604,5.6,185962
16,17,2016,Zootopia,1002462578,8.0,519042
17,18,1994,The Lion King,986193783,8.5,1090473
18,19,2013,Despicable Me 2,975216835,7.3,411752
19,20,2017,Jumanji: Welcome to the Jungle,961632807,6.9,398987
20,21,2003,Finding Nemo,936094852,8.2,1070678
21,22,2009,Ice Age: Dawn of the Dinosaurs,886686817,6.9,254305
22,23,2016,The Secret Life of Pets,885302500,6.5,209359
23,24,2012,Ice Age: Continental Drift,879765137,6.5,216719
24,25,2015,Inside Out,850566343,8.1,740816
25,26,2005,Star Wars Ep. III: Revenge of the Sith,848998877,7.6,814615
26,27,2021,"Ni Hao, Li Huan Ying",841674419,7.0,2510
27,28,2017,Zhan Lang 2,835474171,5.9,8563
28,29,1996,Independence Day,817400878,7.0,588060
29,30,2019,Jumanji: The Next Level,798210215,6.7,265365

In [16]:
profitable_movies.dtypes

Rank      object
Year      object
Title     object
Gross      int64
Rating    object
Votes      int64
dtype: object

In [17]:
# Cleaning 'Gross' column
profitable_movies_books['Gross'] = profitable_movies_books['Gross'].str.replace(r'[^0-9]', '').astype('int64')
# Cleaning 'votes' column
profitable_movies_books['Votes'] = profitable_movies_books['Votes'].str.replace(r'[^0-9]', '').astype('int64')

C:\Users\jardi\AppData\Local\Temp\ipykernel_16584\975586514.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  profitable_movies_books['Gross'] = profitable_movies_books['Gross'].str.replace(r'[^0-9]', '').astype('int64')
C:\Users\jardi\AppData\Local\Temp\ipykernel_16584\975586514.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  profitable_movies_books['Votes'] = profitable_movies_books['Votes'].str.replace(r'[^0-9]', '').astype('int64')

In [18]:
# Convert 'Rating' column to decimal
profitable_movies_books['Rating'] = profitable_movies_books['Rating'].astype('float')

In [19]:
# Convert 'Rank' column to integer
profitable_movies_books['Rank'] = profitable_movies_books['Rank'].astype(int)

# Convert 'Year' column to integer
profitable_movies_books['Year'] = profitable_movies_books['Year'].astype(int)

In [20]:
profitable_movies_books.dtypes

Rank        int32
Year        int32
Title      object
Gross       int64
Rating    float64
Votes       int64
dtype: object

In [21]:
# Cleaning 'Gross' column
profitable_movies['Gross'] = profitable_movies['Gross'].str.replace(r'[^0-9]', '').astype('int64')
# Cleaning 'votes' column
profitable_movies['Votes'] = profitable_movies['Votes'].str.replace(r'[^0-9]', '').astype('int64')
# Convert 'Rating' column to decimal
profitable_movies['Rating'] = profitable_movies['Rating'].astype('float')
# Convert 'Rank' column to integer
profitable_movies['Rank'] = profitable_movies['Rank'].astype(int)
# Convert 'Year' column to integer
profitable_movies['Year'] = profitable_movies['Year'].astype(int)

AttributeError: Can only use .str accessor with string values!

In [ ]:
profitable_movies.dtypes

Rank        int32
Year        int32
Title      object
Gross       int64
Rating    float64
Votes       int64
dtype: object

In [ ]:
profitable_movies_books
#Movies based on books

,Rank,Year,Title,Gross,Rating,Votes
0,1,2015,Jurassic World,1669963641,5.6,185890
1,2,2011,Harry Potter and the Deathly Hallows: Part II,1315363647,6.9,938
2,3,2018,Jurassic World: Fallen Kingdom,1308323302,6.1,328714
3,4,2003,The Lord of the Rings: The Return of the King,1121386981,9.0,1893829
4,5,2012,Skyfall,1110526981,7.8,711363
5,6,1993,Jurassic Park,1045573035,8.2,1018974
6,7,2010,Alice in Wonderland,1025491110,6.4,426655
7,8,2012,The Hobbit: An Unexpected Journey,1014938545,7.8,845869
8,9,2001,Harry Potter and the Sorcerer’s Stone,965043494,7.6,813099
9,10,2013,The Hobbit: The Desolation of Smaug,959358436,7.8,680747
10,11,2016,The Jungle Book,953535821,7.4,284445
11,12,2010,Harry Potter and the Deathly Hallows: Part I,951032438,5.8,734
12,13,2014,The Hobbit: The Battle of the Five Armies,940323039,7.4,549352
13,14,2007,Harry Potter and the Order of the Phoenix,939619849,7.5,603554
14,15,2004,Shrek 2,935253978,7.3,483220
15,16,2009,Harry Potter and the Half-Blood Prince,929411069,7.6,566531
16,17,2002,The Lord of the Rings: The Two Towers,919148764,8.8,1709141
17,18,2001,The Lord of the Rings: The Fellowship of the Ring,891216824,8.8,1922298
18,19,2005,Harry Potter and the Goblet of Fire,886742787,7.7,649472
19,20,2015,Spectre,879077344,6.8,452046
20,21,2002,Harry Potter and the Chamber of Secrets,874954530,7.4,659225
21,22,2013,The Hunger Games: Catching Fire,864868047,7.5,685773
22,23,2012,"The Twilight Saga: Breaking Dawn, Part 2",829724737,5.5,255206
23,24,2007,Shrek the Third,807330936,6.1,319811
24,25,2004,Harry Potter and the Prisoner of Azkaban,789592708,7.9,658237
25,26,2006,The Da Vinci Code,767820459,6.6,445049
26,27,2014,The Hunger Games: Mockingjay - Part 1,766575131,6.6,473512
27,28,2021,No Time to Die,759959662,7.3,421567
28,29,2010,Shrek Forever After,756244673,6.3,215600
29,30,2005,"The Chronicles of Narnia: The Lion, the Witch a…",720539572,6.9,411445

In [ ]:
profitable_movies
#Movies not based on books. Original screenplay!

,Rank,Year,Title,Gross,Rating,Votes
0,1,2009,Avatar,2923706026,7.6,419917
1,2,2022,Avatar: The Way of Water,2320003887,7.6,419917
2,3,1997,Titanic,2222985568,7.9,1225017
3,4,2015,Star Wars Ep. VII: The Force Awakens,2064615817,7.8,949471
4,5,2015,Furious 7,1511986364,7.1,402938
5,6,2022,Top Gun: Maverick,1478933621,8.3,601220
6,7,2017,Star Wars Ep. VIII: The Last Jedi,1331635141,6.8,649750
7,8,2018,Incredibles 2,1242805359,7.6,311856
8,9,2017,The Fate of the Furious,1235534014,6.6,243658
9,10,2019,Toy Story 4,1073064540,7.7,263831
10,11,2019,Star Wars: The Rise of Skywalker,1072767997,6.5,469672
11,12,2010,Toy Story 3,1068879522,8.3,858508
12,13,2017,Despicable Me 3,1032809657,6.2,143717
13,14,1999,Star Wars Ep. I: The Phantom Menace,1027044677,6.5,827337
14,15,2016,Finding Dory,1025006125,7.3,288351
15,16,2022,Jurassic World: Dominion,1003700604,5.6,185890
16,17,2016,Zootopia,1002462578,8.0,518959
17,18,1994,The Lion King,986193783,8.5,1090217
18,19,2013,Despicable Me 2,975216835,7.3,411702
19,20,2017,Jumanji: Welcome to the Jungle,961632807,6.9,398911
20,21,2003,Finding Nemo,936094852,8.2,1070480
21,22,2009,Ice Age: Dawn of the Dinosaurs,886686817,6.9,254275
22,23,2016,The Secret Life of Pets,885302500,6.5,209329
23,24,2012,Ice Age: Continental Drift,879765137,6.5,216696
24,25,2015,Inside Out,850566343,8.1,740606
25,26,2005,Star Wars Ep. III: Revenge of the Sith,848998877,7.6,814615
26,27,2021,"Ni Hao, Li Huan Ying",841674419,7.0,2510
27,28,2017,Zhan Lang 2,835474171,5.9,8563
28,29,1996,Independence Day,817400878,7.0,587996
29,30,2019,Jumanji: The Next Level,798210215,6.7,265292

In [22]:
#Save final dataframes on Excel
profitable_movies_books.to_excel("profitable_movies_books.xlsx")
profitable_movies.to_excel("profitable_original_movies.xlsx")

HYPOTHESIS TESTING

In [3]:
#Read dataframes from Excel
profitable_movies_books = pd.read_excel("profitable_movies_books.xlsx")
profitable_original_movies = pd.read_excel("profitable_original_movies.xlsx")

In [4]:
import scipy.stats as st

#H0 average gross revenue between movies based on books and movies not based on books is equal
#H1 average gross revenue between movies based on books and movies not based on books is not equal

movies_not_based_on_books = profitable_original_movies['Gross']
movies_based_on_books = profitable_movies_books['Gross']

# Conduct the two-sample t-test
t_statistic, p_value = st.ttest_ind(movies_not_based_on_books, movies_based_on_books)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 2.4525407102913985
P-value: 0.017214622352397912

In [5]:
'''
The p-value of 0.0172 suggests that this difference is statistically significant at a significance level of 0.05. 
Reject the null hypothesis and conclude that there is a significant difference in the average gross revenue between movies based on books and movies not based on books. 

'''

''

In [ ]:
'''
The t-statistic is positive, wich suggests that the the mean gross revenue of movies not based on books is higher than the mean gross revenue of movies based on books.

'''

In [6]:
movies_not_based_on_books = profitable_original_movies['Gross']
movies_based_on_books = profitable_movies_books['Gross']

mean_not_based_on_books = movies_not_based_on_books.mean()
mean_based_on_books = movies_based_on_books.mean()

print("Mean gross revenue of movies not based on books:", mean_not_based_on_books)
print("Mean gross revenue of movies based on books:", mean_based_on_books)

Mean gross revenue of movies not based on books: 1204705304.3666666
Mean gross revenue of movies based on books: 956631384.6666666

In [ ]:
''' 
The mean gross revenue of movies not based on books is approximately $1,204,705,304.37, while the mean gross revenue of movies based on books is approximately $956,631,384.67.
The mean gross revenue of movies not based on books is higher than the mean gross revenue of movies based on books. 
This supports the conclusion that movies not based on books tend to have higher gross revenue.
'''

In [15]:
#H0  the average ratings are equal between the two dataframes
#H1  the average ratings are not equal between the two dataframes

ratings_original_movies = profitable_original_movies['Rating']
ratings_movies_books = profitable_movies_books['Rating']

# Conduct the two-sample t-test
t_statistic, p_value = st.ttest_ind(ratings_original_movies, ratings_movies_books)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 0.015408275711996133
P-value: 0.9877593422389146

In [ ]:
''' 
The p-value is greater than the significance level of 0.05, indicating that we do not have sufficient evidence to reject the null hypothesis.
The average ratings of the movies in both dataframes are not significantly different. It implies that, in terms of ratings, there is no clear distinction between movies based on books and movies not based on books 
in this particular dataset.
'''

In [14]:
# H0 the average number of votes is equal between the two dataframes
# H1 the average number of votes is not equal between the two dataframes

votes_original_movies = profitable_original_movies['Votes']
votes_movies_books = profitable_movies_books['Votes']

# Conduct the two-sample t-test
t_statistic, p_value = st.ttest_ind(votes_original_movies, votes_movies_books)

# Print the results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: -1.2110560455527979
P-value: 0.2307855141700466

In [ ]:
''' 
In this case, since the p-value (0.2308) is greater than the significance level of 0.05, I do not reject the null hypothesis. This suggests that there is not a significant difference in the average number of votes 
between the profitable_original_movies and profitable_movies_books dataframes. It suggests that both sets of movies may have a similar level of popularity.
'''